<div class="oj-hybrid-padding">
    <div class="oj-flex oj-sm-flex-direction-column">
        <div class="oj-flex oj-sm-margin-4x-bottom">
            <h1 class="oj-typography-heading-lg oj-text-color-primary">Applications</h1>
        </div>

        <div class="oj-flex oj-sm-margin-4x-bottom">
            <oj-c-input-text label-hint="Search by name, hostname, or environment" raw-value="{{searchQuery}}"
                placeholder="Type to filter…" class="oj-flex-item" <!-- makes it fill available width -->
                ></oj-c-input-text>
        </div>


        <div class="oj-flex oj-sm-flex-direction-column">
            <div class="oj-flex oj-sm-align-items-center oj-sm-margin-4x-bottom">
                <h2 class="oj-typography-heading-md oj-text-color-primary oj-flex-item">Registered Applications</h2>
                <div class="oj-flex oj-sm-margin-4x-start">
                    <oj-button id="addApplicationButton" class="oj-button-outlined-chrome oj-sm-margin-2x-end"
                        on-oj-action="[[openAddDialog]]" chroming="outlined">
                        <span slot="startIcon" class="oj-ux-ico-plus"></span>
                        Add Application
                    </oj-button>

                </div>
            </div>

            <div class="oj-flex oj-sm-flex-direction-column oj-sm-margin-4x-bottom">
                <p class="oj-typography-body-md oj-text-color-secondary">
                    Manage access permissions for registered applications. Control which groups can access each
                    application's logs.
                </p>
            </div>
        </div>
    </div>

    <oj-bind-if test="[[!isDataEmpty()]]">
        <oj-list-view id="applicationsListView" aria-label="Applications" data="[[paginatedDataProvider]]"
            on-oj-item-action="[[gotoEditApplication]]" class="demo-applications-list">
            <template slot="itemTemplate" data-oj-as="item">
                <li>
                    <oj-list-item-layout>
                        <div class="oj-flex oj-sm-flex-direction-column">
                            <span class="oj-typography-heading-sm oj-text-color-primary">
                                <oj-bind-text value="[[item.item.data.name]]"></oj-bind-text>
                            </span>
                            <span class="oj-typography-body-sm oj-text-color-primary">
                                <oj-bind-text value="[[item.item.data._id]]"></oj-bind-text>
                            </span>
                            <span class="oj-typography-body-sm oj-text-color-secondary oj-sm-margin-2x-top">
                                Hostname <oj-bind-text value="[[item.item.data.hostname]]"></oj-bind-text>
                            </span>
                        </div>

                        <div slot="metadata" class="oj-flex oj-sm-align-items-center">
                            <span class="oj-typography-body-md oj-text-color-secondary oj-sm-margin-4x-end">
                                <oj-bind-text value="[[item.item.data.environment]]"></oj-bind-text>
                            </span>
                            <oj-button class="oj-button-sm" chroming="outlined" on-oj-action="[[editApplication]]"
                                :data-app-id="[[item.item.data._id]]">
                                <span slot="startIcon" class="oj-ux-ico-edit"></span>
                                Edit
                            </oj-button>
                            <oj-button class="oj-button-sm" chroming="outlined" on-oj-action="[[deleteApplication]]"
                                :data-app-id="[[item.item.data._id]]">
                                <span slot="startIcon" class="oj-ux-ico-trash"></span>
                                Delete
                            </oj-button>
                        </div>
                    </oj-list-item-layout>
                </li>
            </template>
            <template slot="noData">
                <div class="oj-flex oj-sm-align-items-center demo-nodata-content">
                    <div class="oj-flex oj-sm-align-items-center oj-sm-flex-direction-column demo-nodata-inner">
                        <h5>No Applications found!</h5>
                        <p class="oj-text-color-secondary">Add your first application to get started.</p>
                    </div>
                </div>
            </template>
        </oj-list-view>

        <div class="oj-flex oj-sm-justify-content-center oj-sm-margin-4x-bottom">
            <oj-button chroming="outlined" disabled="[[currentPage() === 1]]"
                on-oj-action="[[() => currentPage(currentPage() - 1)]]">
                Previous
            </oj-button>

            <div class="oj-sm-margin-2x-start oj-sm-margin-2x-end">
                Page <oj-bind-text value="[[currentPage]]"></oj-bind-text>
            </div>

            <oj-button chroming="outlined" disabled="[[ currentPage() >= totalPages() ]]""
                on-oj-action=" [[()=> currentPage(currentPage() + 1)]]">
                Next
            </oj-button>
        </div>

    </oj-bind-if>

    <oj-bind-if test="[[isDataEmpty()]]">
        <div class="oj-flex oj-sm-align-items-center oj-sm-justify-content-center demo-nodata-content">
            <div class="oj-flex oj-sm-align-items-center oj-sm-flex-direction-column demo-nodata-inner">
                <h5>No Applications found!</h5>
                <p class="oj-text-color-secondary">Create your first application to get started.</p>
            </div>
        </div>
    </oj-bind-if>

    <!-- Add Application Dialog -->
    <oj-dialog id="addApplicationDialog" cancel-behavior="icon" aria-labelledby="add-dialog-title">
        <div slot="header">
            <span id="add-dialog-title" class="oj-dialog-title">Register New Application</span>
        </div>
        <div slot="body">
            <oj-form-layout max-columns="1" label-edge="top">
                <oj-c-input-text label-hint="Application Name" value="{{newApplication.name}}" required>
                </oj-c-input-text>

                <oj-c-input-text label-hint="Hostname" value="{{newApplication.hostname}}" required>
                </oj-c-input-text>

                <oj-c-select-single label-hint="Environment" value="{{newApplication.environment}}"
                    data="[[envOptions]]" item-text="label" placeholder="Choose environment" required>
                </oj-c-select-single>

                <oj-c-text-area label-hint="Description" value="{{newApplication.description}}">
                </oj-c-text-area>
            </oj-form-layout>
        </div>

        <div slot="footer">
            <oj-button on-oj-action="[[closeAddDialog]]">Cancel</oj-button>
            <oj-button chroming="callToAction" on-oj-action="[[addNewApplication]]">
                Register Application
            </oj-button>
        </div>
    </oj-dialog>



    <!-- Edit Application Dialog -->
    <oj-dialog id="editApplicationDialog" cancel-behavior="icon" aria-labelledby="dialog-title-id">
        <div slot="header">
            <span id="dialog-title-id" class="oj-dialog-title">
                Edit Application: <oj-bind-text value="[[selectedApplicationName]]"></oj-bind-text>
            </span>
        </div>

        <div slot="body">
            <div class="oj-flex oj-sm-flex-direction-column oj-sm-padding-4x">
                <p class="oj-typography-body-md oj-text-color-secondary oj-sm-margin-4x-bottom">
                    Manage application settings using the form below.
                </p>

                <!-- Section: Application Details -->
                <div class="oj-sm-margin-4x-bottom">
                    <h4 class="oj-typography-heading-sm oj-text-color-primary oj-sm-margin-2x-bottom">
                        Application Details
                    </h4>
                    <oj-form-layout max-columns="1" direction="row" class="oj-sm-padding-2x">
                        <oj-c-input-text id="applicationNameField" label-hint="Application Name"
                            value="{{selectedApplicationName}}"></oj-c-input-text>

                        <oj-c-input-text id="applicationHostName" label-hint="Application Host Name"
                            value="{{selectedApplicationHostName}}"></oj-c-input-text>

                        <oj-c-text-area id="applicationDescriptionField" label-hint="Description"
                            value="{{selectedApplicationDescription}}"></oj-c-text-area>


                        <oj-c-select-single label-hint="Environment" value="{{selectedApplicationEnv}}"
                            data="[[envOptions]]" item-text="label" placeholder="Choose environment" required>
                        </oj-c-select-single>


                    </oj-form-layout>
                </div>

                <!-- Section: Group Assignment -->
                <div class="oj-sm-margin-4x-bottom">
                    <h4 class="oj-typography-heading-sm oj-text-color-primary oj-sm-margin-2x-bottom">
                        Group Assignment
                    </h4>
                    <div class="oj-flex oj-flex-wrap oj-sm-gap-2x">
                        <template for-each="[[availableGroups]]" as="group">
                            <oj-c-checkbox :id="[[group + '_checkbox']]" :label="[[group]]" :value="[[group]]"
                                :disabled="[[group === 'Admin Group']]" checked="{{selectedGroups}}">
                            </oj-c-checkbox>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <div slot="footer">
            <oj-button id="cancelDialogBtn" on-oj-action="[[closeEditDialog]]">
                Cancel
            </oj-button>
            <oj-button id="updateGroupBtn" chroming="callToAction" on-oj-action="[[updateApplication]]">
                Update Application
            </oj-button>
        </div>
    </oj-dialog>