node_modules
dist
.env
redis-server/redis/data/
# Ignore everything in collection/logs
collection/logs/*

# But keep the folder itself 
!collection/logs/.gitkeep
backend/credentials/service-account-key.json
